html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  padding: 80px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

.todos {
  cursor: pointer;
}

.todo::before {
  content: '\2610';
  display: inline-block;
  margin-right: 8px;
}

.todo.active {
  text-decoration: line-through;
  color: #888;
}

.todo.active::before {
  content: '\2611';
}

/* toggler */
.toggler::before {
  content: '\25B6';
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease-in-out;
}

.toggler.active::before {
  transform: rotate(90deg);
}

.toggler-target {
  display: none;
}

.toggler-target.active {
  display: block;
}
